<aside class="sidebar_component">
  <section>
    <h2 class="title">誕生日が近いキャラクター</h2>
    <ul>
      <li>6/21 Ride</li>
      <li>6/22 On</li>
      <li>6/25 キャラクターC</li>
    </ul>
  </section>
  <section>
    <h2 class="title">誕生日が近いブランド</h2>
    <ul>
      <li>6/20 Brand A</li>
      <li>6/23 Brand B</li>
      <li>6/26 Brand C</li>
    </ul>
  </section>
</aside>
