<aside class="sidebar_component">
  <section>
    <h2 class="title">誕生日が近いキャラクター</h2>
    <ul>
      <% @nearer_birthday_characters.each do |character| %>
        <li><%= character.born_on_date %> <%= character.full_name %>
          <% if character.brand %>
            (<%= character.brand.name %>)
          <% end %>
        </li>
      <% end %>
    </ul>
  </section>
  <section>
    <h2 class="title">誕生日が近いブランド</h2>
    <ul>
      <li>6/20 Brand A</li>
      <li>6/23 Brand B</li>
      <li>6/26 Brand C</li>
    </ul>
  </section>
</aside>
