.header{
  background-color: #d4f368;
  display: flex;
  align-items: center;

  .title{
    font-size: 22px;
    margin-left: 12px;
  }
}

.footer{
  width: 100%;
  background-color: #d4f368;
  text-align: center;
  padding: 5px 0;

  .text{
    font-size: 14px;
  }
}
