/* 
  ページ特有のスタイルを記載
  ページ名_page の形式でクラス名を付与する
 */

.static_pages_home_page {
  .logo {
    display: block;
    margin: 1em auto;
  }
}

.tools_stamina_calculations_show_page {
  .form {
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 2em;
    gap: 4px;

    .submit {
      grid-column: 1 / -1;
      padding: 0 1em;
      justify-self: center;
    }
  }
}
